<odoo>
    <data>
        <menuitem name="Membership registrations"
                  id="climbing_gym_web_registration_membership.membership_registration_list_action"
                  parent="climbing_gym.member_membership"
                  action="climbing_gym_web_registration_membership.membership_registration_list_action"
        />
    </data>
</odoo>